<div>
    <h2>Passengers::</h2>
    <button type="button" (click)="getAllNames()">fetch passengers</button>
    <div>
        <ul>
            <li *ngFor="let pas of passengers">
                <button type="button" (click)="focusOn(pas)">
                    <span>{{pas.id}} :: {{pas.lastName}}, {{pas.firstName}}</span>
                </button>
                <div *ngIf="selected === pas">
                    <button type="button" (click)="removePassenger(pas.id)">Delete {{pas.firstName}}</button>
                    <button type="button">Edit info</button>
                    <span>Details::</span>
                </div>
            </li>
        </ul>
    </div>
</div>

<app-submit-passenger></app-submit-passenger>
